.element {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 60px;
}

.link {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  font-size: 19px;
  transition: 0.35s;
}

.link:hover {
  transform: scale(1.1);
}
