.form {
  display: flex;
  flex-direction: column;

  max-width: 500px;
  padding: 20px;
  border: 3px solid #feda6a;
  margin-top: 40px;
  border-radius: 10px;
}
.label {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  width: 120px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  background: #feda6a;
  color: #000;
  transition: 0.35s;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  box-shadow: 0 0 0 0 #007bff;
}

.button:hover,
.button:focus {
  box-shadow: 0 0 0 4px #6b7a8f;
}

.input {
  padding: 10px 40px 10px 15px;
  border: 3px solid #ccc;
  transition: border-color 0.5s;
  outline: none;
}

.input:focus {
  border-color: #feda6a;
}
