.form {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #dddddd, #888888);
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 40px;
  border-radius: 10px;
}
.label {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  width: 120px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(45deg, #1b3409, #007bff);
  transition: background-color 0.35s, box-shadow 0.35s;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  box-shadow: 0 0 0 0 #007bff;
}

.button:hover,
.button:focus {
  box-shadow: 0 0 0 2px #007bff;
  border: none;
}

.input {
  padding: 15px;
  border: 3px solid #ccc;
  transition: border-color 0.5s;
  outline: none;
  border-radius: 8px;
}

.input:focus {
  border-color: #007bff;
}
