.wrapper {
  display: flex;
  gap: 20px;
  margin-right: 60px;
  align-items: center;
}

.element {
  font-weight: 600;
  text-decoration: none;
  font-size: 19px;
  transition: 0.35s;
  color: #fff;
}

.element:hover {
  transform: scale(1.1);
}
