/* styles.css */

.wrapper {
  margin-top: 50px;
}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input {
  padding: 10px 40px 10px 15px;
  border: 3px solid #ccc;
  transition: border-color 0.5s;
  outline: none;
}

.input:focus {
  border-color: #feda6a;
}

.button {
  all: unset;
  width: 80px;
  height: 15px;
  font-size: 16px;
  background: #feda6a;
  color: #000;
  transition: 0.35s;
  cursor: pointer;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
  border-radius: 10px;
}

.button:hover {
  box-shadow: 0 0 0 4px #6b7a8f;
}

.link {
  font-weight: bold;
  text-decoration: none;
  color: #feda6a;
}
.link:hover {
  text-decoration: underline;
}
